.hero-decor-container .token-decor-container .container-block-decor-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    max-width: none;
}

.decor-svg {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}