/* Section Container */
.scroll-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    border: #7EC136 1px solid;
}


@media (min-width: 744px) and (max-width: 1439px) {
    .scroll-list-section {
        gap: 60px;
    }
}

@media (max-width: 743px) {
    .scroll-list-section {
        gap: 40px;
    }
}
