.token-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.token-cards-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.token-card {
    max-width: 306px;
    min-width: 200px;
    /*
    border: 1px solid #FFFFFF;
    */
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 38px;
    gap: 24px;
    position: relative;
    overflow: hidden;
}

.token-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
            radial-gradient(60.52% 85.11% at 9.86% -26.12%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%),
            radial-gradient(65.97% 92.77% at 113.3% 120.61%, rgba(62, 238, 227, 0.5) 0%, rgba(62, 69, 238, 0) 100%),
            linear-gradient(97.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);

    backdrop-filter: blur(50px);

    border-radius: inherit;
    z-index: -1;
}

.token-card:nth-of-type(1)::before
{
    transform: scaleX(-1)  scaleY(-1);
}

.token-card:nth-of-type(2)::before
{
    transform: scaleX(-1) ;
}

.token-card:nth-of-type(3)::before
{
    transform: scaleX(-1)  scaleY(-1);
}

.token-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.token-card-title {
    color: var(--gray-card-title);
    text-align: center;
    margin: 0;
    padding: 0;
}

.token-card-description {
    color: var(--gray-card-title);
    font-size: var(--body-text-size);
    text-align: center;
    line-height: var(--line-height-140);

    margin: 0;
    padding: 0;
}



@media (min-width: 744px) and (max-width: 1439px) {
    .token-section {
        gap: 60px;
    }

    .token-cards-section {
        flex-direction: column;
        align-items: center;
    }

    .token-card {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media (max-width: 743px) {
    .token-section {
        gap: 40px;
    }

    .token-cards-section {
        flex-direction: column;
        align-items: center;
    }

    .token-card {
        margin-bottom: 20px;
        min-width: 100px;
    }
}
