.list-elements {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    border: 1px solid white;
    max-width: 560px;
}

.element {
    display: none;
    /*
    display: flex;
    */
    justify-content: center;
    align-items: center;
    padding: 28px 63px;
    max-width: 560px;
    max-height: 100px;
    background: radial-gradient(90.43% 1331.96% at 121.2% -190.31%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    border-radius: 70px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: center;
}

.element:nth-child(2) {
    background: radial-gradient(72.77% 852.8% at 103.85% -80.61%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%);
}

.element:nth-child(3) {
    background: radial-gradient(144.76% 629.53% at 106.71% 0%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%);
}

.element:nth-child(4) {
    background: radial-gradient(171.43% 787.46% at 100% 33.67%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%);
}

.element:nth-child(5) {
    background: radial-gradient(185.28% 594.66% at 93.38% 87.76%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%);
}

.element:nth-child(6) {
    background: radial-gradient(189.03% 440.12% at 109.3% 118.88%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%);
}

.element:nth-child(7) {
    background: radial-gradient(200.14% 731.93% at 111.98% 108.42%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%);
}

@media (min-width: 744px) and (max-width: 1439px) {

}

@media (max-width: 743px) {

}