.scroll-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    position: relative;
    width: 100%;
    overflow: visible;
}

.scroll-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 20px;

    position: relative;
    overflow: hidden;
}

.scroll-container-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 20px;

    position: relative;
    overflow: visible;
}


.scroll-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 710px;
    scroll-behavior: smooth;
}

.scroll-element {
    box-sizing: border-box;
    background: linear-gradient(93.45deg, rgba(223, 29, 255, 0.2) 17.59%, rgba(155, 20, 177, 0.170746) 27.35%, rgba(124, 16, 141, 0.157118) 31.9%, rgba(69, 9, 79, 0.13368) 39.72%, rgba(0, 0, 0, 0.1038) 49.69%, rgba(9, 24, 30, 0.0914059) 56.77%, rgba(21, 60, 74, 0.0734936) 67.02%, rgba(72, 205, 255, 0) 92.93%), linear-gradient(180deg, rgba(41, 46, 75, 0.375) 0%, rgba(48, 58, 120, 0.5) 100%);
    backdrop-filter: blur(50px);
    border-radius: 0 200px 200px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    min-height: 223px;
}

.scroll-element-content {
    flex: 1;
    padding: 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.scroll-element-content h2 {
    max-width: 330px;
}

.scroll-element-content p {
    font-size: var(--body-text-size);
    color: var(--gray-0);
}

.dark-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: background 10.4s ease;
}

.scroll-bar {
    position: absolute;
    top: 0;
    left: -40px;
    width: 5px;
    height: 100%;
    border-radius: 17px;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.scroll-bar .scroll-bar-line {
    width: 2px;
    background: #e0e0e0;
    border-radius: 2px;
    height: 100%;
}

.scroll-bar-thumb {
    position: absolute;
    width: 10px;
    background: linear-gradient(180deg, #4F4399 0%, #8B249C 100%);
    border-radius: 17px;
    cursor: pointer;
    z-index: 2;
    height: 30px;
    left: -3px;
}


@media (min-width: 744px) and (max-width: 1439px) {
    .scroll-element-content {
        margin-left: 60px;
    }

    .scroll-element-content h2 {
        font-size: 40px;
    }

    .scroll-list-section {
        gap: 60px;
    }
}


@media (max-width: 743px) {

    .scroll-element-content {
        margin-left: 10px;
    }

    .scroll-element-content h2 {
        font-size: 24px;
    }

    .scroll-list {
        display: block;
        height: 100%;
    }

    .scroll-element {
        display: none;
    }

    .scroll-element:nth-child(-n+3) {
        display: flex;
        flex-wrap: nowrap;
        min-width: 520px;
    }

    .scroll-element:nth-child(2) {
        opacity: 0.5;
    }

    .scroll-element:nth-child(3) {
        opacity: 0.5;
    }

    .dark-overlay::after {
        display: none;
    }

    .scroll-list-section {
        gap: 40px;
    }
}

